@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

* {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    display: grid;
    grid-template-areas: 
        "header header header header"
        "nav main main aside"
        "nav main main aside";
    grid-template-rows: 90px 1fr;
    grid-template-columns: 1fr 2fr 2fr 1fr;
}
 
.container__header {
    grid-area: header;
    background-color: rgb(146, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 280px;
}

.header_div {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__img,
.header__search {
    display: flex;
    align-items: center;
    gap: 70px;
}

.header__img .logo {
    height: 100px;
    padding-top:35px;
}

.header__search {
    position: relative;
    display: flex;
    align-items: center;
}

.header__search .search-input {
    padding: 10px 40px 10px 10px;
    border: solid 1px rgba(183,183,183,255);
    border-radius: 5px;
    height: 22px;
    width: 370px;
}

.header__search .bi-search {
    font-size: 25px;
    position: absolute;
    right: 15px;
    top: 85%;
    transform: translateY(-50%);
}

.auth-buttons {
    display: flex;
    gap: 10px;
    position: relative;
    right: 40px;
    top: 25px;
}

.auth-buttons button {
    padding: 0 15px;
    height: 44px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    line-height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login {
    background-color: rgba(255,255,255,255);
    color: rgba(64,64,64,255);
}

.register {
    padding: 10px 40px 10px 10px;
    background-color: rgba(255,255,255,255);
    color: rgba(59,73,223,255);
    border: 2px solid rgba(255,255,255,255);
    border-radius: 5px;
}


.login:hover {
    background-color: rgba(235,236,252,255);
    color: rgba(47,58,178,255);
    text-decoration: underline;
}

.register:hover {
    background-color: rgba(59,73,223,255);
    color: rgba(255,255,255,255);
    border: none;
    text-decoration: underline;
}


.container__nav {
    grid-area: nav;
    background-color: #ff0000;
}















.container__main {
    grid-area: main;   
    background-color: rgb(252, 131, 131);
}

.container__aside{
    grid-area: aside;
    background-color: rgb(255, 0, 0);
}
   





 


/* Estilo para móviles */
@media only screen and (max-width: 600px) {
    .container {
        grid-template-areas: 
            "header"
            "nav"
            "main";
        grid-template-rows: 80px 80px 1fr;
        grid-template-columns: 100%;
    }
    
}

/* Estilo para tabletas */
@media only screen and (min-width: 601px) and (max-width: 1400px) {
    .container {
        grid-template-areas: 
            "header header header header"
            "nav main main main"
            "nav main main main";
        grid-template-rows: 120px 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}