*{
    font-size: 17px;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
}
.header-logo{
    width: 75px;
    height: 85px;

}
.logo{
    width: 85px;
}
.container {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 250px 2fr 300px;
    grid-template-rows: 100px 1fr;
    gap: 10px;
    overflow: hidden;
    background-color: #8a3737;
}
nav {
    grid-column: 1;
    background-color: #db4242;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: auto;
    overflow-x: hidden;
}
nav::-webkit-scrollbar{
    display: none;
}
.navbar-box{
    width: 230px;
    height: 300px;
    text-align: left;
    padding: 10px 9px ;
    background-color: rgb(126, 126, 126);
    border-radius: 5px;
    border: 1px rgb(94, 85, 85) solid;
    box-shadow: rgb(250, 0, 0);
    
}
.nav-button-1{
    background-color: rgb(53, 46, 46);
    border-radius: 5px;
    margin: 10px 0;
    
}

header {
    grid-column: 1 / span 3;
    background-color: rgb(141, 10, 10);
    text-align: center;
    display: flex;
    padding: 0 50px;
    justify-content: space-between;
    align-items: center;
}
.search{
    border-radius: 8px;
    width: 300px;
    height: 44px;
    padding: 10px;
}
.button1{
    width: 120px;
    height: 44px;
    border: none;
    background-color: rgba(141, 10, 10, 0.699);
}
:hover.button1{
    background-color: rgb(119, 24, 24);
    color: white;
    border-radius: 7px;
    cursor: pointer;
}
.button2{
    width: 120px;
    height: 44px;
    border-radius: 8px;
    border: 3px rgb(168, 41, 41) solid;
    background-color: rgb(201, 63, 63);
    
}
:hover.button2{
    background-color: black;
    color: rgb(133, 53, 53);
    border-radius: 7px;
    cursor: pointer;
}

.form{
    flex: 1;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
}
.form-navbar-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navbar-navegation,
.navbar-other-navegation {
    width: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgb(124, 0, 0);
}

.navegation-button {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(160, 6, 6);
    color: black;
    text-decoration: none;
}

.navegation-button:hover {
    background-color: #ffffff;
}

.navegation-icon {
    width: 24px;
    margin-right: 10px;
}

.navbar-other-navegation h1 {
    margin-left: 20px;
    margin-bottom: 10px;
}
.navbar-end-navigation{
    background-color: rgb(255, 255, 255);
    width: 100%;
    align-items: center;
    padding: 10px 10px;
}
.navegation-button-end{
    width: 24px;
    height: 24px;
}

.navegation-button-end:hover{
    border-bottom: 2px solid #000; 
    display: inline-block; 
}
main {
    grid-column: 2;
    background-color: #f3e1e1;

    text-align: center;
}

aside {
    grid-column: 3;
    background-color: #bb0b0b;
    text-align: center;
}

@media (max-width: 838px) {
    .header-logo{
        width: 44px;
        height: 44px;
    }
    .logo{
        width: 44px;
    }
    .container {
        grid-template-columns: 200px 2fr;
        grid-template-rows: 100px 1fr;
        overflow: auto;
    }

    header {
        grid-column: 1 / span 3;
        background-color: white;
        text-align: center;
        display: flex;
        padding: 0 50px;
        justify-content: space-between;
        align-items: center;
    }
    .search{
        display: none;
    }
    .button1{
        width: 120px;
        height: 44px;
        border: none;
        background-color: white;
    }
    .button2{
        width: 120px;
        height: 44px;
        border-radius: 8px;
        border: 3px black solid;
        background-color: white;
    }
    .form{
        flex: 1;
        display: flex;
        justify-content: flex-end;
        margin-left: 20px;

    }
    nav {
        grid-column: 1;
    }

    main {
        grid-column: 2;
    }

    aside {
        display: none;
    }
}
@media (max-width: 425px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 100px 100px 1fr;
    }

    header {
        grid-column: 1 / span 3;
        background-color: #eee;
        text-align: center;
        display: flex;
        padding: 0 50px;
        justify-content: space-between;
        align-items: center;
    }
    .search{
        display: none;
    }
    .button1{
        display: none;
    }
    .button2{
        display: none;
    }
    .form{
        flex: 1;
        display: flex;
        justify-content: space-between;
        margin-left: 20px;
    }

    nav {
        grid-column: 1;
        grid-row: 2/3;
    }

    main {
        grid-column: 1;
    }

    aside {
        display: none;
    }
}

